extends layout

block content
  h1 Delete User

    form( name="but_delete")
    
        input(
        type="text"
        name="email"
        id="email"
        placeholder="E-mail"
        )

        input(
        type="text"
        name="username"
        id="username"
        placeholder="username"
        )

        input(
        type="password"
        name="password"
        id="password"
        placeholder="password"
        )

        input(
        type="submit"
        id="but_delete" 
        )

  div
    button(onclick="window.location.href='/'") Main Page
    button(onclick="window.location.href='/accountCreation'") Create Account