extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    input(
      type="text"
      name="username"
    )
    input(
      type="password"
      name="password"
    )

  div
    button(onclick="#") Log in
    button(onclick="window.location.href='/accountCreation'") Create Account
    button(onclick="window.location.href='/accountDelete'") Delete Account