extends layout

block content
  h1= title
  p Welcome to #{title}

    form( name="but_submit" id="but_submit" )
    
        input(
        type="text"
        name="email"
        id="email"
        placeholder="E-mail"
        )

        input(
        type="text"
        name="username"
        id="username"
        placeholder="username"
        )

        input(
        type="password"
        name="password"
        id="password"
        placeholder="password"
        )

        input(
        type="password"
        name="passwordC"
        placeholder="confirm password"
        )

        input(
        type="submit"
        )

    

  div
    button(onclick="window.location.href='/'") Main Page
    button(onclick="window.location.href='/AccountCreation'") Create Account